@charset "utf-8";
@import "compass/reset";
//sollte diese folgende Zeile zu einer Fehlermeldung führen - kommentieren Sie die folgende und die obere Zeile aus und kommentieren Sie die nachfolgende ein
@import "compass/css3";

$percent: 95%;

@import "base"; /* inkludiert die Datei _base.scss */
@import "button"; /* inkludiert die Datei _button.scss */

.animation {
    position:absolute;
    left:0;
    top:0;

}

.btn {
    @include transition-property(padding);
    @include transition-duration(900ms);
    @include transition-delay(0ms);
    @include transition-timing-function(linear);

    &.ease-in {
        @include transition-timing-function(ease-in);
    }

    &.ease-out {
        @include transition-timing-function(ease-out);
    }

    &.ease-in-out {
        @include transition-timing-function(ease-in-out);
    }

    &.green {
        @include transition-property(all);
    }

    &.animation {
        position: absolute;
        left:0;
        top:0;
        right:auto;
        bottom:auto;
        animation-timing-function: linear;
    }
}

body:hover .animation {
    animation-name:myanimation;
    animation-duration:5s;
}

@keyframes myanimation {
    0%   {left:0;top:0;}
    25%  {left:$percent;top:0;}
    50%  {left:$percent;top:$percent;}
    75%  {left:0;top:$percent;}
    100% {left:0;top:0;}
}


.btn:hover {
    padding-left: 25px;
    padding-right: 25px;
}

