@import "compass/reset";
@import "compass/css3";

$margin: 10px 5px 10px 5px;
$border: 1px solid #000;
$red: #d9534f;
$yellow: #f0ad4e;
$green: #5cb85c;
$padding: 5px;

/* b) Vererbung erscheint hier keine sinnvolle zu sein!? */


body {
    -webkit-font-smoothing: antialiased; /* was soll das? */
    -moz-osx-font-smoothing: grayscale;

    font-family:'Open Sans', sans-serif; /* was ist das hier eigentlich? */ /* Webfonts ein Begriff?! */
}

/* dies ist ein kommentar */
#main {
    width: 990px;
    margin:0 auto;
}


input[type="text"],input[type="password"] {
    border:$border;
    padding:$padding;
    margin:$margin;

    width: 180px;
}

input[type="submit"] {
    border:$border;
    border-radius:0;
    background-color:#fafafa;
    margin:$margin;
    cursor:pointer;
}

label {
    margin-left:5px;
}

.passwordField {
    width:300px;
    float:left;
}

.passwordFeedback {
    width:250px;
    float:left;
}

.feedback {
    margin:$margin;
    font-size:11px;
    font-weight:600;

    &.error {
        color:$red;
    }

    &.warning {
        color:$yellow;
    }

    &.success {
        color:$green;
    }

    &.error, &.warning, &.success {
        display: none;
    }
}


.strengthIndicator {
    margin:$margin;
    width: 200px;
    padding:$padding;
    height: 13px;
    border:1px solid #d3d3d3;

    &::before {
        content: "";
        display: block;
        height: 100%;

        @include transition-property(width);
        @include transition-delay(0);
        @include transition-duration(250ms);
        @include transition-timing-function(linear);

    }
}

.passwordWrapper::after {
    content: "";
    display: block;
    clear: both;
    float: none;
}

.error .strengthIndicator::before {
    width: 10%;
    background-color: $red;
}

.warning .strengthIndicator::before {
    width: 60%;
    background-color: $yellow;
}

.success .strengthIndicator::before {
    width: 100%;
    background-color: $green;
}


.error .feedback.error {
    display: block;
}

.warning .feedback.warning {
    display: block;
}

.success .feedback.success {
    display: block;
}

